h1 {
    font-size: em(36);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: em(10, 36);
    color: $color__primary;
}

h2 {
    font-size: em(20);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: em(15, 36);
    color: $color__primary;
}